<div>
  <nav class="navbar navbar-expand navbar-dark bg-primary">
    <a routerLink="home" class="navbar-brand">NithishTutorial</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="navbar-brand">Tutorials</a>
      </li>
      <li class="nav-item my-2 my-sm-0  mr-auto form-inline">
        <a routerLink="add" class="navbar-brand">Add</a>
      </li>
      
      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
